*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 10px;
    padding: 10px;
}
/* Header Section */
.mainheader{
    margin: auto;
    padding: 5px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(197, 196, 196);
}
.articleheader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav > ul > li{
    list-style: none;
    font-weight: 600;
    display: inline;
    margin-left: 14px;
}
nav > ul > li > a{
    font-size: 18px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
nav > ul > li > a:hover{
    color: black;
    background-color:lightblue;
    border-radius: 5px;
}
header>h2{
    margin-top: 25px;
    font-size: 25px;
    font-weight: bold;
    color: #000;
}

/* Main Section */
main>h2{
    margin-top: 25px;
    font-size: 25px;
    font-weight: bold;
    color: #000;
}
h2,h3, .edit, p{
    margin-top: 10px;
    margin-bottom: 20px;
}
.tags>a{
    margin:10px 10px;
}
figcaption{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
fieldset{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #000;
}
legend{
    font-size: 15px;
    font-weight: bold;
}
label{
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    font-weight: 500;
}

/* Footer Sections */
.btn{
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 10px;
}
footer{
    width: 100%;
    margin-top: 30px;
    text-align: center;
}